ATS_JWT_SECRET=replace-this-in-production
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/login
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/candidates
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/candidates
